# Data Science Tools and Ecosystem

<p> In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly libraries for Data Science</li>
    <li>Data Science Tools</li>
    <li>trying how to use jupyter notebok cells, how to markdown and run code </li>
</ul>

<p>Some of the popular languages that Data Scientists use are:</p>

1. python
2. R
3. julia
4. sql

<p>Some of the commonly used libraries used by Data Scientists include:</p>

1. pandas
2. numpy
3. scikit-learn
4. matplotlib
5. seaborn
6. tenserflow

### Data Science Tools

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
 #  This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
(200//60)

3

## Author 
   Mohamed Stili